<!-- Login form -->

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  
  <% if (locals.message) { %>
    <div class="flash-message">
      <p><%= message %></p>
    </div>
  <% } %>

  <form id="loginForm" action="/account/login" method="POST">

    <label for="account_email">Email:</label>
    <input type="email" id="login_email" name="login_email" required placeholder="Enter a valid email address"><br><br>

    <label for="account_password">Password:</label>
    <input type="password" id="login_password" name="login_password" required><br><br>

    <button type="submit">Login</button><br>
  </form>

  <p>No account? <a href="/account/register">Register</a></p>

  <p><a href="/account/login">My Account</a></p>
</body>
</html>
