<!-- Assignment 5 Task 1: Header when logged in -->
<!-- <header>
    <span class="siteName"><a class="homelink" href="/" title='Return to Home Page'>CSE Motors</a> </span>

    <div id="tools">
        <span> 
            <a href="/account/management"> WELCOME  <%- locals.accountData.account_firstname %></a>  
            <a href="/clear-cookie">LOGOUT </a> 
        </span>
    </div>
</header> -->