<h1>Welcome to CSE Motors!</h1>
<img id="car" src="/images/vehicles/delorean.jpg" alt="car">
<body>
    
<div id="list">
    <h2 id="dmcheader">DMC Deloarean</h2>
        <ul id="dmc">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
            <button id="button">Own Today</button>
</div>

<section id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <ul id="reviewslist">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>

<div id="upgrades">
    <h1>Delorean Upgrades</h1>
<section class="grid-container">
    <a class="item1" href="#FluxCapacitor">Flux Capacitor</a>
    <img class="item1" src="/images/upgrades/flux-cap.png" alt="flux capacitor">
    <a class="item2" href="#FlameDecals">Flame Decals</a>
    <img class="item2" src="/images/upgrades/flame.jpg" alt="flame decals">
    <a class="item3" href="#BumperStickers">Bumper Stickers</a>
    <img class="item3" src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
    <a class="item4" href="#HubCaps">Hub Caps</a>
    <img class="item4" src="/images/upgrades/hub-cap.jpg" alt="hub caps">
</section>
</div>

</body>