/* ****** Change Box Model ************** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* header */
header a{
  text-decoration: none;
  color: black;
}
.siteName {
  font-size: 50px;
}

#tools{
  font-size: 20px;
  float: right;
}

/* navigation */
 ul{
  list-style-type: none;
 }

 nav{
  color:white;
  background-color: black;
  padding:10px;
  position: relative;
  text-align: center;
 }

 nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
 }

 nav li{
  display:inline;
  margin-right:20px;
 }

 /* body - DMC Deloarean */
 img#car{
  max-width: 100%;
  height: auto;
 }

 h1{
  font-size: 30px;
 }

 #list{
  margin-top:-220px;
 }

 #dmc{
  color:#61B8B7;
  opacity: none;
  margin-left:-30px;
 }

 #dmcheader{
  color:#61B8B7;
  opacity: none;
  margin-left:10px;
 }

 #button{
  background-color: #61B8B7;
  border:none;
  height:30px;
  width:100px;
  margin-left:10px;
 }

 /* body - DMC Delorean Reviews */
#reviews{
  margin-left:10px;
  margin-top:100px;
}

#reviewslist{
  margin-left:-20px;
  list-style: circle;
  line-height: 30px;
}

 /* body - Delorean Upgradres */
 #upgrades{
  margin-top:40px;
}

 .grid-container {
  display: grid;
  gap: 50px;
  justify-content: center; 
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#upgrades a{
  position: relative;
  bottom: -80px;
}

#upgrades img{
  position: relative;
  bottom: 0px;
}

/* footer */
.copyright{
  margin-top: 100px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px) {
  nav li{
    display: inline-block;
    height: 100%;
    width: 10%;
   }
  
   img#car{
    margin-left: 100px;
   }

   #dmc{
    margin-left:10px;
   }

   #dmcheader{
    margin-left:50px;
   }
  
   #button{
    margin-left:50px;
   }

   #reviews{
    float:right;
    margin-top: 130px;
  }
  
  #reviewslist{
    float:right;
}

#upgrades a{
margin-right:120px;
}

#upgrades {
  margin-top: 130px;
  }

}