/* ****** Change Box Model ************** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* header */
header a{
  text-decoration: none;
  color: black;
}
.siteName {
  font-size: 50px;
}

#tools{
  font-size: 20px;
  float: right;
}

/* navigation */
 ul{
  list-style-type: none;
 }

 nav{
  background-color: black;
  padding:10px;
  position: relative;
  text-align: center;
 }

 nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
 }

 nav li{
  display:inline;
  margin-right:20px;
 }

 nav li a{
  color: white !important;
 }

 /* body - DMC Deloarean */
 img#car{
  max-width: 100%;
  height: auto;
 }

 h1{
  font-size: 30px;
 }

 #list{
  margin-top:-220px;
 }

 #dmc{
  color:#61B8B7;
  opacity: none;
  margin-left:-30px;
 }

 #dmcheader{
  color:#61B8B7;
  opacity: none;
  margin-left:10px;
 }

 #button{
  background-color: #61B8B7;
  border: 1px solid gray;
  height:30px;
  width:100px;
  margin-left:10px;
 }

 /* body - DMC Delorean Reviews */
#reviews{
  margin-top:100px;
}

#reviewslist{
  margin-left:100px;
  list-style: circle;
  line-height: 30px;
  width:100%;
}

 /* body - Delorean Upgradres */
 #upgrades{
  margin-top:40px;
  text-align: center;
 }

 .grid-container {
  display: grid;
  gap: 50px;
  width: 50%;
  justify-content: center; 
}

.item0 {
  grid-column-start: 1;
  grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
      background-color:#61B8B7;
      border: 1px solid gray;
      min-height: 5em;
      margin: .5em;
      height: 20%;
      min-width:5em;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
      background-color:#61B8B7;
      border: 1px solid gray;
      min-height: 5em;
      margin: .5em;
      height: 20%;
      min-width:5em;
}


.item4 {
  grid-column-start: 1;
  grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
      background-color:#61B8B7;
      border: 1px solid gray;
      min-height: 5em;
      margin: .5em;
      height: 20%;
      min-width:5em;
}


.item6 {
  grid-column-start: 2;
  grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item7 {
  grid-column-start: 2;
  grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#61B8B7;
      border: 1px solid gray;
      min-height: 5em;
      margin: .5em;
      height: 20%;
      min-width:5em;
}

#upgrades a{
  position: relative;
  bottom: -100px;
}

#upgrades img{
  position: relative;
  bottom: 0px;
  padding: 0 50px;
}


#upgradesh1{
  text-align: left;
}

/* footer */
.copyright{
  margin-top: 100px;
}

/* On screens that are 600px or more, set the background color to olive */
@media screen and (min-width: 900px) {
  nav li{
    display: inline-block;
    height: 100%;
    width: 10%;
   }
  
   img#car{
    margin-left: 100px;
   }

   #dmc{
    margin-left:10px;
   }

   #dmcheader{
    margin-left:50px;
   }
  
   #button{
    margin-left:50px;
   }

   #reviews{
    float:right;
    margin-top: 130px;
  }
  
  #reviewslist{
    float:right;
}

#upgrades a{
margin-right:120px;
}

#upgrades {
  margin-top: 130px;
  }

  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat:repeat;
    background-size: 35em 35em;
  }

  #wrapper{
    background-color: white;
    border-radius: 1.2em;
    border: 6px solid #61B8B7;
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  /* body + main + checkerboard */
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat:repeat;
    background-size: 35em 35em;
  }
  #wrapper {
    background-color: white;
    border-radius: 1.2em;
    border: 3px solid rgb(34, 95, 207);
    width: 80%;
    margin: auto;
  }

  main, nav {
    margin: 1em;
  }

  .extra-grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}