/* ****** Change Box Model ************** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* header */
header a{
  text-decoration: none;
  color: black;
}
.siteName {
  font-size: 50px;
}

#tools{
  font-size: 20px;
  float: right;
}

/* navigation */
 ul{
  list-style-type: none;
 }

 nav{
  color:white;
  background-color: black;
  padding:10px;
 }

 nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
 }

 nav li{
  display:inline;
  margin-right:20px;
 }

 nav a{
  text-decoration: none;
  color:white;
 }