<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Handle errors -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<%- messages() %>
  
    <form id="classification_form" action="/inventory/addClassification" method="POST">
        <fieldset>
        <label for="classification_name">
          <h2 id="inv_highlight"><b>Classification Name:</h2>
            <label id="manage" for="classification_name">Name:</label>
            <input type="text" name="classification_name" id="classification_name" pattern="[a-zA-Z]+" required placeholder="No spaces or special characters"> <br><br>
            <button id="button" type="submit">Submit</button> </b>
        </label>
        </fieldset> 
    </form>

   