<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (flash && flash.message) { %>
    <div class="flash-message">
        <%= flash.message %>
    </div>
<% } %>

<p><a href="/inventory/addClassification">Add New Classification</a></p>
<p><a href="/inventory/addInventory">Add New Inventory</a></p>
<h2>Manage Vehicles</h2>
<p>Select an item from the list.</p>
<!-- <%- dropmenu %> -->
<table id="invTable"></table>
