<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<%- messages() %>

<p><a href="addClassification.ejs">Add New Classification</a></p>
<p><a href="/inventory/addInventory">Add New Inventory</a></p>
<h2>Manage Vehicles</h2>
<p>Select an item from the list.</p>
<%- dropmenu %>
<table id="invTable"></table>
